/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: menupopup ::::: */

menupopup,
panel {
  /* We can always render in the preferred color scheme (unless otherwise
   * overridden). */
  color-scheme: light dark;

  min-width: 1px;
  --panel-background: Menu;
  --panel-color: MenuText;
  --panel-padding-block: 4px;
  --panel-padding: var(--panel-padding-block) 0;
  --panel-border-radius: 4px;
  --panel-border-color: ThreeDShadow;
  --panel-width: initial;

  --panel-shadow-margin: 0px;
  --panel-shadow: 0 0 var(--panel-shadow-margin) hsla(0,0%,0%,.2);
  -moz-window-input-region-margin: var(--panel-shadow-margin);
  margin: calc(-1 * var(--panel-shadow-margin));

  /* Panel design token theming */
  --background-color-canvas: var(--panel-background);

  @media (-moz-platform: linux) {
    --panel-border-radius: 8px;
    --panel-padding-block: 3px;

    @media (prefers-contrast) {
      --panel-border-color: color-mix(in srgb, currentColor 60%, transparent);
    }
  }

  @media (-moz-platform: linux) or (-moz-platform: windows) {
    /* To account for the box-shadow below */
    --panel-shadow-margin: 4px;
  }

  @media (-moz-platform: macos) {
    appearance: auto;
    -moz-default-appearance: menupopup;
    /* We set the default background here, rather than on ::part(content),
     * because otherwise it'd interfere with the native look. Non-native-looking
     * popups should get their background via --panel-background */
    background-color: Menu;
    --panel-background: none;
    --panel-border-color: transparent;
    /* This should be kept in sync with GetMenuMaskImage() */
    --panel-border-radius: 6px;
  }

  &::part(content) {
    display: flex;
    box-sizing: border-box;

    padding: var(--panel-padding);
    color: var(--panel-color);
    background: var(--panel-background);
    border-radius: var(--panel-border-radius);
    border: 1px solid var(--panel-border-color);
    width: var(--panel-width);
    box-shadow: var(--panel-shadow);
    margin: var(--panel-shadow-margin);

    min-width: 0;
    min-height: 0;

    /* Makes popup constraints work. Round up to avoid subpixel rounding
     * causing overflow, see bug 1846050 */
    max-height: round(up, 100% - 2 * var(--panel-shadow-margin), 1px);
    max-width: round(up, 100% - 2 * var(--panel-shadow-margin), 1px);

    overflow: clip; /* Don't let panel content overflow the border */
  }

  &[orient=vertical]::part(content) {
    flex-direction: column;
  }
}

menupopup {
  /* Also apply the padding in the inline axis for menus */
  --panel-padding: var(--panel-padding-block);

  @media (-moz-platform: windows) {
    appearance: auto;
    -moz-default-appearance: menupopup;

    /* Native menus are always light */
    color-scheme: light !important;
 
    /* We set the background-color / border here so that it doesn't interfere with native styling. */
    background-color: Menu;
    border: 1px solid ThreeDShadow;
    --panel-background: transparent;
    --panel-border-color: transparent;
    --panel-border-radius: 0px;
    --nested-margin: -3px;
    --panel-shadow-margin: 0px;
    --panel-padding: 0;
  }

  > menu > menupopup {
    /* Vertically align nested menupopups: the shadow plus the top padding plus top border */
    margin-top: calc(-1 * (var(--panel-shadow-margin) + var(--panel-padding-block) + 1px));
  }
}

@media (-moz-platform: windows) {
  @media not (-moz-windows-non-native-menus) {
    /* For Win10, the popup itself needs to have a transparent background because
      otherwise the background color would appear behind the drop shadow. */
    menulist > menupopup {
      color: FieldText;
      --panel-background: Field;
      --panel-border-color: ThreeDShadow;
    }
  }
}

/* Rules for popups associated with menulists */
menulist > menupopup {
  min-width: 0;

  @media (-moz-platform: windows) {
    font: inherit;
  }

  @media (-moz-platform: macos) {
    &:not([position]) {
      margin-inline-start: -13px;
      margin-top: -1px;
    }
  }
}

/* ::::: arrow panel ::::: */

panel:where([type="arrow"]) {
  appearance: none;
  background-color: transparent;

  &.panel-no-padding::part(content) {
    padding: 0;
  }
}

/* ::::: panel animations ::::: */

.animatable-menupopup,
panel[type="arrow"] {
  transition-timing-function: var(--animation-easing-function), ease-out;

  @media (-moz-panel-animations) and (prefers-reduced-motion: no-preference) {
    &:not([animate="false"]) {
      transition-duration: 0.18s;
    }
  }

  @media not (-moz-platform: macos) {
    transition-property: transform, opacity;
    will-change: transform, opacity;
    opacity: 0;
    transform: translateY(-70px);

    &[side="bottom"] {
      transform: translateY(70px);
    }
  }

  /* On Mac, use the properties "-moz-window-transform" and "-moz-window-opacity"
   * instead of "transform" and "opacity" for these animations.
   * The -moz-window* properties apply to the whole window including the
   * window's shadow, and they don't affect the window's "shape", so the
   * system doesn't have to recompute the shadow shape during the animation.
   * This makes them a lot faster. These properties are not implemented on
   * other platforms.
   */
  @media (-moz-platform: macos) {
    transition-property: -moz-window-transform, -moz-window-opacity;
    /* Only do the fade-in animation on pre-Big Sur to avoid missing shadows on
     * Big Sur, see bug 1672091. */
    @media not (-moz-mac-big-sur-theme) {
      -moz-window-opacity: 0;
      -moz-window-transform: translateY(-70px);

      &[side="bottom"] {
        -moz-window-transform: translateY(70px);
      }
    }
    /* If the @media rule above is removed, then we can also remove this */
    &[animate="cancel"] {
      -moz-window-opacity: 0;
    }
  }

  &[animate="cancel"] {
    -moz-window-transform: none;
    transform: none;
  }

  &:is([animate="false"], [animate="open"]) {
    opacity: 1;
    transform: none;
    -moz-window-opacity: 1;
    -moz-window-transform: none;
    transition-timing-function: var(--animation-easing-function), ease-in-out;
  }

  &[animating] {
    pointer-events: none;
  }
}

@media (-moz-platform: linux) {
  :is(panel, menupopup)::part(arrow) {
    -moz-context-properties: fill, stroke;
    fill: var(--panel-background);
    stroke: var(--panel-border-color);
  }
  
  :is(panel, menupopup)[side="top"]::part(arrow),
  :is(panel, menupopup)[side="bottom"]::part(arrow) {
    list-style-image: url("chrome://global/skin/arrow/panelarrow-vertical.svg");
    position: relative;
    margin-inline: 10px;
  }
  
  :is(panel, menupopup)[side="top"]::part(arrow) {
    margin-bottom: -5px;
  }
  
  :is(panel, menupopup)[side="bottom"]::part(arrow) {
    transform: scaleY(-1);
    margin-top: -5px;
  }
  
  :is(panel, menupopup)[side="left"]::part(arrow),
  :is(panel, menupopup)[side="right"]::part(arrow) {
    list-style-image: url("chrome://global/skin/arrow/panelarrow-horizontal.svg");
    position: relative;
    margin-block: 10px;
  }
  
  :is(panel, menupopup)[side="left"]::part(arrow) {
    margin-right: -5px;
  }
  
  :is(panel, menupopup)[side="right"]::part(arrow) {
    transform: scaleX(-1);
    margin-left: -5px;
  }
}

@media (-moz-platform: macos) {
  panel[type="arrow"][side="top"],
  panel[type="arrow"][side="bottom"] {
    margin-inline: -25px;
  }
  
  panel[type="arrow"][side="left"],
  panel[type="arrow"][side="right"] {
    margin-block: -25px;
  }

  :is(panel, menupopup)::part(arrow) {
    -moz-context-properties: fill, stroke;
    fill: var(--panel-background);
    stroke: var(--panel-border-color);
  }
  
  :is(panel, menupopup)[side="top"]::part(arrow) {
    list-style-image: url("chrome://global/skin/arrow/panelarrow-vertical.svg");
    margin-inline: 16px;
    margin-bottom: -1px;
  }
  
  :is(panel, menupopup)[side="bottom"]::part(arrow) {
    list-style-image: url("chrome://global/skin/arrow/panelarrow-vertical.svg");
    -moz-transform: scaleY(-1);
    margin-inline: 16px;
    margin-top: -1px;
  }
  
  :is(panel, menupopup)[side="left"]::part(arrow) {
    list-style-image: url("chrome://global/skin/arrow/panelarrow-horizontal.svg");
    margin-block: 16px;
    margin-right: -1px;
  }
  
  :is(panel, menupopup)[side="right"]::part(arrow) {
    list-style-image: url("chrome://global/skin/arrow/panelarrow-horizontal.svg");
    transform: scaleX(-1);
    margin-block: 16px;
    margin-left: -1px;
  }
}

@media (-moz-platform: windows) {
  :is(panel, menupopup)::part(arrow) {
    -moz-context-properties: fill, stroke;
    fill: var(--arrowpanel-background);
    stroke: var(--arrowpanel-border-color);
  }
  
  :is(panel, menupopup)[side="top"]::part(arrow),
  :is(panel, menupopup)[side="bottom"]::part(arrow) {
    list-style-image: url("chrome://global/skin/arrow/panelarrow-vertical.svg");
    position: relative;
    margin-inline: 10px;
  }
  
  :is(panel, menupopup)[side="top"]::part(arrow) {
    margin-bottom: -5px;
  }
  
  :is(panel, menupopup)[side="bottom"]::part(arrow) {
    transform: scaleY(-1);
    margin-top: -5px;
  }
  
  :is(panel, menupopup)[side="left"]::part(arrow),
  :is(panel, menupopup)[side="right"]::part(arrow) {
    list-style-image: url("chrome://global/skin/arrow/panelarrow-horizontal.svg");
    position: relative;
    margin-block: 10px;
  }
  
  :is(panel, menupopup)[side="left"]::part(arrow) {
    margin-right: -5px;
  }
  
  :is(panel, menupopup)[side="right"]::part(arrow) {
    transform: scaleX(-1);
    margin-left: -5px;
  }
}

@media not (-moz-proton) {
  panel, menupopup {
    --arrowpanel-header-back-icon-padding: 8px !important;
  }
  
  menupopup {
    --nested-margin: -3px !important;
  }
  menupopup > menu > menupopup {
    --nested-margin: -7px !important;
    margin-inline-start: -4px !important;
    margin-top: var(--nested-margin) !important;
  }

  .subviewbutton:not(.menuitem-iconic) .menu-text {
    margin-inline-start: 14px !important;
  }
  .subviewbutton:not(.subviewbutton-iconic) > .toolbarbutton-text {
    padding-inline-start: 12px !important;
  }
  .subview-subheader {
    font-size: 1em !important;
  }

  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup),
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) menupopup {
    --panel-padding: 6px 0 0 !important;
    --arrowpanel-padding: 6px 0 0 !important;
  }
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) menuseparator,
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) menupopup menuseparator {
    margin: 0 !important;
  }
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) menuseparator.bookmarks-actions-menuseparator,
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) menupopup menuseparator.bookmarks-actions-menuseparator {
    display: none !important;
  }
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) > :is(menu, menuitem) + menuseparator[hidden=true]:last-child,
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) menupopup > :is(menu, menuitem) + menuseparator[hidden=true]:last-child {
    display: flex !important;
    padding: 0 !important;
    height: 6px !important;
  }
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) > :is(menu, menuitem) + menuseparator[hidden=true]:last-child::before,
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) menupopup > :is(menu, menuitem) + menuseparator[hidden=true]:last-child::before {
    content: unset !important;
  }
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) > menuitem:last-child,
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) menupopup > menuitem:last-child {
    margin-top: 4px !important;
    background-color: var(--arrowpanel-dimmed) !important;
    border-top: 1px solid var(--panel-separator-color) !important;
    min-height: 41px !important;
    box-sizing: border-box !important;
  }
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) > menuitem:last-child[_moz-menuactive],
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) menupopup > menuitem:last-child[_moz-menuactive] {
    background-color: var(--arrowpanel-dimmed-further) !important;
  }
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) > menuitem:last-child[_moz-menuactive]:active,
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) menupopup > menuitem:last-child[_moz-menuactive]:active {
    background-color: var(--arrowpanel-dimmed-even-further) !important;
  }
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) > menuitem:last-child > .menu-text,
  toolbarbutton menupopup[placespopup][type=arrow]:not(#PlacesChevronPopup, #OtherBookmarksPopup) menupopup > menuitem:last-child > .menu-text {
    padding-inline-start: 0 !important;
    padding-inline-end: 6px !important;
    margin-inline-start: 2px !important;
  }

  .panel-header {
    min-height: 0 !important;
    padding: 4px !important;
  }

  /* Generic panel footer */
  .panel-footer {
    background-color: var(--arrowpanel-dimmed) !important;
    margin: 0 !important;
  }
  .panel-footer > button {
    margin-inline: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
    border-top: 1px solid var(--panel-separator-color) !important;
    padding: 0.9em 2px !important;
    flex: 1 !important;
    font-weight: inherit !important;
    /* Normal buttons */
    background-color: transparent !important;
  }
  .panel-footer > button:not([disabled]):hover {
    background-color: var(--arrowpanel-dimmed) !important;
  }
  .panel-footer > button:not([disabled]):hover:active {
    background-color: var(--arrowpanel-dimmed-further) !important;
    box-shadow: 0 1px 0 hsla(210, 4%, 10%, 0.05) inset !important;
  }
  .panel-footer > button:not([disabled])[default], .panel-footer > button:not([disabled]).popup-notification-primary-button {
    color: white !important;
    background-color: #0060df !important;
  }
  .panel-footer > button:not([disabled])[default]:hover, .panel-footer > button:not([disabled]).popup-notification-primary-button:hover {
    background-color: #003eaa !important;
  }
  .panel-footer > button:not([disabled])[default]:hover:active, .panel-footer > button:not([disabled]).popup-notification-primary-button:hover:active {
    background-color: #002275 !important;
  }

  .panel-subview-body {
    padding-bottom: var(--panel-subview-body-padding-block) !important;
  }
  .panel-subview-body + toolbarseparator {
    display: none !important;
  }

  :is(button, toolbarbutton).panel-subview-footer-button,
  :not(button, toolbarbutton, #protections-popup-footer).panel-subview-footer-button > toolbarbutton {
    margin-bottom: 0 !important;
    border-top: 1px solid var(--panel-separator-color) !important;
    position: relative !important;
    z-index: 2;
    padding: var(--arrowpanel-menuitem-padding) !important;
    min-height: 41px !important;
  }
  :is(button, toolbarbutton).panel-subview-footer-button > *,
  :not(button, toolbarbutton, #protections-popup-footer).panel-subview-footer-button > toolbarbutton > * {
    z-index: 2;
  }
  :is(button, toolbarbutton).panel-subview-footer-button::before,
  :not(button, toolbarbutton, #protections-popup-footer).panel-subview-footer-button > toolbarbutton::before {
    content: "";
    display: flex;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: calc(100% + 1px);
    background-color: var(--arrowpanel-dimmed);
    z-index: 1;
  }
  .panel-footer > :is(button, toolbarbutton).panel-subview-footer-button::before,
  .panel-footer > :not(button, toolbarbutton, #protections-popup-footer).panel-subview-footer-button > toolbarbutton::before {
    content: unset !important;
  }
  :is(button, toolbarbutton).panel-subview-footer-button.subviewbutton > .toolbarbutton-text,
  :not(button, toolbarbutton, #protections-popup-footer).panel-subview-footer-button > toolbarbutton.subviewbutton > .toolbarbutton-text {
    padding-inline-start: 0 !important;
  }
}
